.root {
    text-align: center;
    background-color: #E8E8E8;
    /* height: 500px; */
    border-radius: 10px;
}
.card {
    margin-top: 10px;
    margin-left: 80px;
}
.bukapintu{
    margin-top: 45px;
    margin-left: -750px;
    width: 400px;
}
.tombol{
    margin-top: -460px;
    margin-left: 600px;

}