.Logout {
    background-color: #E8E8E8;
    width: 75%;
    margin-left: calc(50vw - 38%);
    height: 200px;
    padding-top: 27px;
    margin-top: calc(50% - 460px);
    padding-left: 80px;
    border-radius: 25px;
    box-shadow: 1px 1px 11px grey;
}

.link {
    background-color: #8b1616;
    width: 132px;
    height: 41px;
    text-align: center;
    padding-top: 10px;
    border-radius: 20px;
}