
.FormCenter {
    text-align: center;
    background-color: #E8E8E8;
    height: 500px;
    border-radius: 10px;
}

.FormsCenter {
    text-align: center;
    background-color: #E8E8E8;
    height: 550px;
    border-radius: 10px;
    width: 550px;
}

.FormFields {
    width: 100%;
    padding-top: 70px;
}

.Up {
    background-image: url('../pintuku.png');
    background-size: cover;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 27px;
    color: white;
    font-size: 20px;
}


.Down {
    background-image: url('../pintuku.png');
    background-size: cover;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 27px;
    color: white;
    font-size: 20px;
}
.Form {
    margin-top: calc(50% - 600px);
    width: 40%;
    margin-left: calc(50vw - 20%);
}

.Forms {
    margin-top: calc(50% - 625px);
    margin-left: calc(50vw - 20%);
}

.FormField {
    padding-bottom: 20px;
}

.FormsField {
    padding-bottom: 10px;
}

.FormField__Input {
    border: none;
    font-size: 15px;
    padding: 0.5em 0em 0.5em 0;
    width: 350px;
    border-radius: 20px;
    padding-left: 50px;
    height: 40px;
}

.FormsField__Input {
    border: none;
    font-size: 15px;
    padding: 0.5em 0em 0.5em 0;
    width: 350px;
    border-radius: 20px;
    padding-left: 30px;
    height: 40px;
}

.FormField__Button {
    height: 40px;
    width: 350px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: 	#8b1616;
    color: white;
    margin-left: 8px;
    font-size: 17px;
}

.FormsField__Button {
    height: 40px;
    width: 350px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: 	#8b1616;
    color: white;
    margin-left: 24px;
    font-size: 17px;
    margin-top: 10px;
}

.FormField__Label {
    color: black;
    font-size: 15px;
}

.FormField__Link {
    font-size: 17px;
}

  .card {
    transition: 0.3s;width: 222px;
    margin-left: 15%;
    margin-top: 90px;
    height: 222px;
    text-align: center;
    background-color: white;
    color: #2C6ABF;
    padding-top: 15px;
    border-radius: 10px;
    box-shadow: 1px 2px 5px #2C6ABF;
  }

  .card1 {
    transition: 0.3s;width: 222px;
    margin-left: 40%;
    margin-top: -220px;
    height: 222px;
    text-align: center;
    background-color: white;
    color: #2C6ABF;
    padding-top: 15px;
    box-shadow: 1px 2px 5px #2C6ABF;
    border-radius: 10px;
  }

  .card2 {
    transition: 0.3s;width: 222px;
    margin-left: 65%;
    margin-top: -222px;
    height: 222px;
    text-align: center;
    background-color: white;
    color: #2C6ABF;
    padding-top: 15px;
    box-shadow: 1px 2px 5px #2C6ABF;
    border-radius: 10px;
  }

  button {
      background-color: white;
      border: none;
      cursor: pointer;
  }