
.FormCenter {
    text-align: center;
    background-color: #E8E8E8;
    height: 500px;
    border-radius: 10px;
}

.FormFields {
    width: 100%;
    padding-top: 70px;
}

.Up {
    background-image: url('../iot.jpg');
    background-size: cover;
    height: 150px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 27px;
    color: white;
    font-size: 20px;
}
.Form {
    
    margin-top: calc(50% - 600px);
    width: 40%;
    margin-left: calc(50vw - 20%);
}

.FormField {
    padding-bottom: 20px;
}

.FormField__Input {
    border: none;
    font-size: 15px;
    padding: 0.5em 0em 0.5em 0;
    width: 350px;
    border-radius: 20px;
    padding-left: 50px;
    height: 40px;
}

.FormField__Button {
    height: 40px;
    width: 350px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: #2C6ABF;
    color: white;
    margin-left: 24px;
    font-size: 17px;
}