.logo {
    width: 150px;
}
.AppBar {
    /* background-color: rgb(178, 44, 190); */
    /* width: 132px; */
    /* height: 41px; */
    /* text-align: center; */
    /* padding-top: 10px; */
    /* border-radius: 20px; */
}